
<div class="article">
  <h1 class="title">
    <%= link_to article.title, article.url %>
    <% if signed_in? %>
      <%= link_to ("<span class='glyphicon glyphicon-edit'>").html_safe, edit_article_path(article.id), title: "Edit", class: "edit-link" %>
    <% end %>
  </h1>
  <span class="timestamp">
    <% if article.published? %>
      Posted <%= time_ago_in_words(article.published_at) %> ago 
      by <%= article.user.name %>.
    <% else %>
      Updated(draft) <%= time_ago_in_words(article.updated_at) %> ago.
    <% end %>
  </span>

  <div class="tags"> <%= render 'articles/tag_list', tag_list: article.tag_list %></div>

  <div class="content"><%== article.content %></div>

  <div class="parmalink"><%= link_to "Link to: \"#{article.title}\"", article.url, class: "btn btn-default" %></div>

</div>

