<div class="article-similar col-sm-6">
  <%= link_to image_tag(article.summary_image), article.url %>
  <div>
    <strong class="title"> <%= link_to article.title, article.url %> </strong> <br/>
    <%= article.summary_content %>
    <br />
    <%= render 'tag_list', tag_list: article.tag_list %> &nbsp; 
    <%= time_ago_in_words(article.published_at) %> ago
  </div>
</div>
