<% provide(:title, 'All Articles') %>

<%= will_paginate %>
<div class="articles">
  <% @articles.each do |article| %>
    <h1 class="title"><%= link_to article.title, article.url %></h1>
    <div class="content">
      <span class="posted">Posted <%= time_ago_in_words(article.created_at) %> ago.</span>
      <br />
      <%== article.content %>
    </div>
  <% end %>
  
</div>

<%= will_paginate %>
