<%# provide title is in 'published' statement %>

<!-- code snippet for FB Comment JavaScript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1721451128113160";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e43073c7b0762d0"></script>

<div class="page-header">
  <h1 id="blog-title"><%= link_to image_tag("/system/W3er-title.png", alt: "World Wide Walker", class: "img-responsive"), root_path %></h1>
</div>

<% if @article.published? || signed_in? %>
  <%= provide(:title, "#{@article.title} - #{@blog.title}") %>
  <%= render 'article', article: @article %>

  <% if @article.published? %> <%# don't show adsense and addthis unless published %>
    <%= render 'layouts/googleadsense' %>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
  <% end %>

  <% if !@article.similar_tagged.empty? %>
  <!-- Similar articles based on the same Tag -->
  <div class="articles-similar-tagged">
    <label>Similar Articles</label>
    <ul> <% @article.similar_tagged.each do |article| %>
      <li> <%= link_to article.title, article.url %> (<%= time_ago_in_words(article.published_at) %> ago) <%= render 'tag_list', tag_list: article.tag_list %></li>
    <% end %> </ul>
  </div>
  <% end %>

  <!-- Pager -->
  <ul class="pager">
    <% if @article.previous %> 
      <li class="previous"><%= link_to ("&larr; Older").html_safe, @article.previous.url, title: @article.previous.title %></li>
    <% else %>
      <li class="previous disabled"><%= link_to ("&larr; Older").html_safe, '#' %></li>
    <% end %>
    <% if @article.next %> 
      <li class="next"><%= link_to ("Newer &rarr;").html_safe, @article.next.url, title: @article.next.title %></li>
    <% else %>
      <li class="next disabled"><%= link_to ("Newer &rarr;").html_safe, '#' %></li>
    <% end %>
  </ul>

  <div class="article-comment">
    <!-- FB Comment -->
    <% if @article.published? %>
      <div class="fb-comments" data-href="<%= @article.url %>" data-width="600" data-numposts="3"></div>
    <% end %>
  </div>

<% else %>
  <%= provide(:title, "No article - #{@blog.title}") %>
  <h1>404 Not Found</h1>
  <div> No article in this url. <%= link_to "back to home", root_path %>.</div>
<% end %>

