<%= provide(:title, @article.title) %>

<div class="article">
<h1 class="title">
      <%= @article.title %>
      <% if signed_in? %>
        [<%= link_to "Edit", edit_article_path(@article.id) %>]
      <% end %>
</h1>
<div>
  <span class="content"><%== @article.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@article.created_at) %> ago.
  </span>
  <%# unless @article.media.empty? %>
    <%# @article.media.each do |img| %>
      <div><%#= image_tag img.image.url :medium %></div>
    <%# end %>
  <%# end %>
  <div><%== @article.alt_url %></div>
</div>

</div>
