<h1>User list</h1>
<ul>
<% @users.each do |user| %>
  <li><%= user.name %>, <%= user.email %>
     [<%= link_to 'Show', user %> | 
      <%= link_to 'Edit', edit_user_path(user) %>  
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>  
  </li>
<% end %>
</ul>

