<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', async: Rails.env.production?, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%# load controller/action specific partial if exists %>
  <%= render :partial => "#{controller.controller_name}/head_#{action_name}" rescue nil %>
  <%# load RSS %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss">
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> 
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>

  <%= render 'layouts/googleanalytics' %>

</body>
</html>
